*/__pycache__/*
*/.ipynb_checkpoints/*
*.pyc
*.jpg
*.png
*.gv
*.pdf

.ipynb_checkpoints
tmp/
data/
build/
*.egg-info
dist/
*.out
*.swp
experiments/
.vscode/
CoRL
standalone_obj_perturb
standalone-obj-perturb

adversarial-nerf-models/
paper_results/
wandb
notebooks/
